<mat-card>
  <div class="profile-icon">
    <mat-icon>person</mat-icon>
  </div>
  <mat-divider vertical="true"></mat-divider>
  <div class="text-area">
    <div class="mentors-name">Mentors Name</div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
  </div>
</mat-card>

<mat-card>
  <div class="profile-icon">
    <mat-icon>person</mat-icon>
  </div>
  <mat-divider vertical="true"></mat-divider>
  <div class="text-area">
    <div class="mentors-name">Mentors Name</div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
  </div>
</mat-card>

<mat-card>
  <div class="profile-icon">
    <mat-icon>person</mat-icon>
  </div>
  <mat-divider vertical="true"></mat-divider>
  <div class="text-area">
    <div class="mentors-name">Mentors Name</div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
  </div>
</mat-card>

<mat-card>
  <div class="profile-icon">
    <mat-icon>person</mat-icon>
  </div>
  <mat-divider vertical="true"></mat-divider>
  <div class="text-area">
    <div class="mentors-name">Mentors Name</div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
  </div>
</mat-card>

<mat-card>
  <div class="profile-icon">
    <mat-icon>person</mat-icon>
  </div>
  <mat-divider vertical="true"></mat-divider>
  <div class="text-area">
    <div class="mentors-name">Mentors Name</div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
  </div>
</mat-card>
